@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    font-family: "Inconsolata", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  img, video {
    max-width: none !important;
    height: auto !important;
  }

  body.light {
    --bg: #ffffff;
    --text: #101010;
    --primary: #101010;
    --secondary: #151515
  }
  
  body.dark {
    --bg: #101010;
    --text: #f1f5f9;
    --primary: #101010;
    --secondary: #151515
  }
  